.App-header {
  min-height: 100vh;
}

html,
body {
  margin: 0;
  overflow: hidden;
}

.body {
  position: relative;
  height: 500px;
}

.wrapper {
  display: flex;
  justify-content: flex-end;
}

.button-div {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hand {
  position: absolute;
  height: 383px;
  top: 87px;
  right: 66px;
}

.mouth {
  position: absolute;
  height: 60px;
  top: 116px;
  right: 87px;
}

button {
  font-size: 2rem;
  -webkit-transform: translate3d(0, 0, 0);
  background: white;
  border: 5px darkblue solid;
  border-radius: 15%;
}

.card {
  position: fixed;
  top: 40px;
  left: 40px;
  border-radius: 30px;
  width: 100px;
  height: 100px;
}

.card > img {
  height: 100px;
}
